<div>
    <div>
        <h2>Clientes</h2>
        <hr />
    </div>
    <div>
        <div class="barraAcoes">
            <button type="submit" class="btn btn-primary"> Editar</button>
            <span style="margin-right: 10px; color: transparent;"> .</span>
            <button type="submit" class="btn btn-primary"> Mudar Estado</button>
        </div>
        <div>
            <table id="tblClientes"></table>
        </div>
    </div>
</div>

