<div id="tabListaClientes" class="tab-pane fade">
    <div>
        <h2>Clientes</h2>
        <hr />
        <div id="listaClientesAlerta"></div>
    </div>
    <div>
        <div class="pull-left search btn-group btn-actions">
            <button id="btnEditarCliente" class="btn btn-primary"> Editar</button>
            <span style="margin-right: 10px; color: transparent;"> .</span>
            <button id="btnMudarEstadoCliente" class="btn btn-primary"> Mudar Estado</button>
        </div>
        <div>
            <table id="tblClientes"></table>
        </div>
    </div>
</div>

