
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AcessoNegado</title>
</head>
<body>
    <div id="acessoNegado"> 
        <h1 style="color: red">VOCÊ NÃO TEM PERMISSÃO PARA ACESSAR ESTA FUNÇÃO!</h1>
        <a href="../Home/Autenticacao">Tela Inicial</a>
    </div>
</body>
</html>
