
<div id="divListaUsarios" class="tab-pane fade" style="height: 800px;">
    <h2> Lista de Usuários </h2>
    <hr />

    <div id="listaUsuariosAlerta"></div>

    <div class="barraAcoes">
        <button class="btn btn-primary">Editar</button>
        <button class="btn btn-primary">Desbloquear</button>
    </div>
    <table id="tblUsuarios"></table>
</div>
