
<div id="divListaUsarios" class="tab-pane fade">
    <h4> Lista de Usuários </h4>
    <hr />

    <div id="listaUsuariosAlerta"></div>

    <div class="pull-left search btn-group btn-actions">
        <button id="AlterarSenhaUsuario" class="btn btn-primary">Alterar senha</button>
        <button id="BloquearUsuario" class="btn btn-primary">Bloquear/Desbloquear</button>
    </div>
    <table id="tblUsuarios"></table>
</div>
